html {
}
body {
  font-family: helvetica, arial;
  font-weight: 300;
  background: white;
  padding: 25px;
  min-width:600px;
  width: 95%;
  line-height: 20pt;
  font-size: 14pt;
  /*max-width: 750px;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
h1 {
  font-family: Lora; 
  line-height: 30pt;
  margin-top: 2em;
}
h2 {
  margin-top: 2em;
  font-family: "Raleway";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h3 {
  margin-top: 2em;
}
h4 {
  margin-top: 2em;
  font-family: "Raleway";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.MathJax_Display {
  font-size: 14pt;
}
p {
  font-size: 14pt;
}
a {
  text-decoration: none;
  color: hsla(200, 70%, 55%, 1);
}

.button {
  border: 1px solid gray;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: .5em;
  cursor: pointer;
}
.button:hover {
  background: hsla(200, 70%, 55%, 1);
  color: white;
}


a:hover {
  text-decoration: none;
  color: white;
  background: hsla(200, 70%, 55%, 1);
}

code {
  font-family: Consolas, monospace, courier;
}



b {
  color: #555;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 1.5em;
  margin-bottom: 5px;
  display: block;
}

table.vartable {
  width: 85%;
  font-family: "Open Sans", georgia, helvetica, arial;
  font-weight: 300;
}
table.vartable td {
  vertical-align: top;
  padding-right: 1em;
  padding-top: 5px;
}

.example {
  padding: .5em;
  margin-left: 2em;
  margin-right: 2em;
  text-align: justify;
  color: #777;
  border: 1px solid #f0f0f0;
  background: #fafafa;
  font-family: serif;
}

.callout {
  font-size: 16pt;
  text-align: center;
  letter-spacing: 2px;
  color: gray;
  font-weight: 600;
  margin-bottom: 50px;
}


.fig {
}

.subfig{
  width: 18%;
  min-width: 180px;
  float: left;
}
.subfig img {
  width: 150px;
}
.subfig p {
  text-align: center;
  width: 90%;
  font-family: "Computer Modern", serif;
  color: grey;
}

ol {
  list-style-position: outside;
  padding: 0px;
}

ul {
  list-style-position: outside;
}

li {
  margin: 0px;
  padding: 0px;
}

#footer {
  margin-top: 2em;
  border-top: 1px solid gray;
  text-align: center;
  color: gray;
}
#footer a{
  color: gray;
}
#footer a:hover{
  color: gray;
  text-decoration:underline;
  background: white;
}

.sidebar {
  position: fixed;
}

.twitter-share-button {
	background-color: #1b95e0;
	color: #fff;
	font-weight: 500;
	cursor: pointer;
	padding: 1px 8px 1px 6px;
	width: 12em;
}
.twitter-share-button span {
	color: white;
}
.twitter-share-button:hover span {
	color: white;
}

.twitter-share-button i {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 14px;
    height: 14px;
    background: transparent 0 0 no-repeat;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
}


@media  (max-width:992px) {
  .sidebar {
    position: relative;
  }
}



@media  (max-width:900px) {
  h4 {
    margin-top: 2em;
    font-size: 14pt;
  }
  .stitle {
    text-align: left;
  }
  .header div {
  }
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url(https://fonts.googleapis.com/css?family=Lora);


/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url(https://fonts.gstatic.com/s/playfairdisplay/v10/2NBgzUtEeyB-Xtpr9bm1CRD8Ne_KjP89kA3_zOrHj8E.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'), url(https://fonts.gstatic.com/s/playfairdisplay/v10/UC3ZEjagJi85gF9qFaBgIN4KoCs5_BuQksQmhwRAS2Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora Regular'), local('Lora-Regular'), url(https://fonts.gstatic.com/s/lora/v10/bAULWXoql4X5j5Aw1uK9-xTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora Regular'), local('Lora-Regular'), url(https://fonts.gstatic.com/s/lora/v10/XXbc_aQtUtjJrkp7pYGEKhTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora Regular'), local('Lora-Regular'), url(https://fonts.gstatic.com/s/lora/v10/rAXKWvABQNHjPUk26ixVvvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}



