
html, body {
  background: white;
  font-family: "Open Sans", georgia, helvetica, arial;
  color: #444;
  line-height: 1.6em;
}

body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

h4 {
  font-size: 16pt;
  text-transform: uppercase;
  color: gray;
  font-weight: 300;
  letter-spacing: 1.5px;
  /*font-family: Raleway;*/
  font-family: serif;
  margin-bottom: .75em;
}

p {
}

b, strong {
  font-weight: 600;
}

a {
  text-decoration: none;
  font-weight: 400;
}

.header {
  background: #fafafa; 
  background: #f8f8f8;
  /* border: 2px solid #eeeeee; */
  padding-top: 1em;
  padding-bottom: 1em;
}

.body h4 {
  margin-top: 2em;
}

h4.eugene {
  letter-spacing: 2.5px;
  text-justify: distribute;
  font-weight: 600;
  /*font-family: 'Josefin Slab', serif;*/
  font-family: serif;

}


.applyheading {
    /* font-weight: bold; */
    /* color: rgb(201, 27, 77); */
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14pt;
    font-style: italic;
    letter-spacing: 1px;
    font-family: Raleway;
    font-family: serif;
		display: block;
}

ul, ol {
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
}
li {
  margin-bottom: 1em;
}
.tight li {
  margin-bottom: 0px;
}

#cudbg {
  position:absolute; top:0px; left:0px; padding:0px; border: none; box-shadow: none; width: 100px;
}


small#pubs-toggle {
  font-size: 70%;
  font-family: "Open Sans";
}
small#pubs-toggle span{
  background: none;
  font-size: smaller;
  border: none;
  border-bottom: 1px solid white;
}
small#pubs-toggle span:hover {
  border-bottom: 1px solid grey;
  cursor: pointer;
}



#coverimage {
  background-image:url('../images/gregory-large.jpg');
  /*background-image:url('../images/mebig.jpg');*/
  background-position: 50 0;
  /*background-position: 0 0;*/
  background-size: cover;
  display: block;
  width: 100%;
  height: 250px;
  clear: both;
}

#coverimageme {
  background-image:url('../images/mebig.jpg');
  background-position: 0 0;
  background-size: cover;
  display: block;
  width: 100%;
  height: 250px;
  clear: both;
}

#gregory {
    width: 100px;
    height: 100px;
    background-size:cover;
    background-position: -10 0;
    background-image:url(../images/gregory.jpg);
}
#banana {
    width: 150px;
    height: 150px;
    background-size:cover;
    background-position: 5 -10;
    background-image:url(../images/banana_hi.png);
}
#banana:hover {
  background-image:url(../images/banana_bye.png);
}


#mypic {
  width: 225px;
  height: 225px;
  background-image: url(../images/me.jpg);
  background-image:url(../images/mesquare.png);
  background-image:url(../images/me_faculty2.png);
  background-size: 225px;
  background-repeat: no-repeat;
  background-position: 0;
  display: inline-block;
}

#mypic:hover {
  background-image:url(../images/eugene.png);
  background-size: 155px;
  background-position: 35; 
  /*
  background-image:url(../images/me_faculty2.png);
  background-size: 175px;
  background-repeat: no-repeat;
  background-position: 0;
  */

}

#signature {
  background-image:url(../images/signature.png);
  width:30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  background-position-x: center;  
}

.gallery div.image {
  width:200px;
  height: 200px;
  background-size:contain;
  background-repeat: no-repeat;
  float:left;
  display: inline;
  margin: 5px;
  padding: 15px;
  border: 1px solid rgba(239, 239, 239, 0.86);
  box-shadow: 0 1px 3px rgba(160, 202, 219, 0.24); 
}
.gallery div.image:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);    
}

@media  (max-width:1300px) {
}



@media  (max-width:990px) {
  html,body {
    font-size: 20pt;
  }
  h1 {
    font-size: 22pt;
  }
  h4 {
    margin-top: 2em;
    font-size: 22pt;
    margin-bottom: 1em;
  }
  .stitle {
    font-size: 22pt;
  }
  .header div {
  }
}




